<div class="preloader">
  <div class="preloader__text">
    <p>
      The surprise of what is possible to make with a simple and thin thread.
    </p>
  </div>
  <div class="proloader__number">0%</div>
</div>
